<div class="container">
    <div class="form d-flex flex-column justify-content-center align-items-center">
        <form action="/post/login" method="post" class="d-flex flex-column justify-content-center align-items-center">
            <h3>Have an Account?</h3>
            {{#if hasLoginErrors}}
                {{#each LoginErrors}}
                    <p class="text-danger">{{this}}</p>
                {{/each}}
            {{/if}}
            <br>
            <br>
            <input type="email" class="form-control mb-2" placeholder="Username" name="username" require>
            <input type="password"  class="form-control mb-4" placeholder="Password" name="password" require>
            <input type="submit"  class="btn btn-primary" value="Log In">
            <div class="mt-2" style="width: 90%;">
                <a href="/forgotpassword" class="float-right">Forgot Password?</a>
            </div>
        </form>
        <br>
        <br>
        <div class="buttons d-flex flex-row justify-content-start align-items-start">
            <a href='/register' class="btn btn-success mb-2 button">Register</a>
        </div>  
    </div> 

</div>